<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC Event</title>
    <link rel="stylesheet" href="static\css\styles.css">
    <script type="module" src="static/js/script.js"></script>
    <style>
        @import url('https://fonts.cdnfonts.com/css/sternbach');
    </style>
</head>
<body>
    <header>
        <img src="static/images/logo.png" alt="logo">
        <h1>ITSTIME</h1>
        <img src="static/images/logo.png" alt="logo">
    </header>

    <!-- Main Event Box -->
    {% for event in events %}
    <div class="event-container">
        <div class="event-information">
            <img class="fighter-1" src="https://dmxg5wxfqgb4u.cloudfront.net/styles/event_fight_card_upper_body_of_standing_athlete/s3/image/ufc-fighter-container/69013/profile-galery/fullbodyleft-picture/cm-punk_515764_LeftFullBodyImage.png?VersionId=c1rm_KXGyKA1xBW1e661ay0SH22Zanqm&itok=gwqrcV3v">
            <img class="fighter-2" src="https://dmxg5wxfqgb4u.cloudfront.net/styles/event_fight_card_upper_body_of_standing_athlete/s3/image/ufc-fighter-container/69013/profile-galery/fullbodyleft-picture/cm-punk_515764_LeftFullBodyImage.png?VersionId=c1rm_KXGyKA1xBW1e661ay0SH22Zanqm&itok=gwqrcV3v" alt="fighter 1 image">
            <h2 class="event-name">{{ event[1] }}</h2>  <!-- Event Name -->
            <p class="event-date">{{ event[2] }}</p>     <!-- Event Details -->
            <p class="event-location">{{ event[3] }}</p>     <!-- Event Date/Location -->
        </div>
        
        <!-- Fights Section -->
        <div class="fights-container">
            {% for fight in fight_dict[event[0]] %}
            <div class="fight-row">
                <div class="fight">
                    <p>{{ fight[0] }}</p>  <!-- Fighter 1 -->
                </div>
                <div class="fight">
                    <p>{{ fight[1] }}</p>  <!-- Fighter 2 -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>
</html>
