<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC Event</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body>
    <header>
        <h1>ITSTIME</h1>
    </header>

    <!-- Main Event Box -->
    {% for event in events %}
    <div class="event-container">
        <img class="fighter-1" src="https://pbs.twimg.com/profile_images/1610186636125700102/ggTMNAh0_400x400.jpg" alt="fighter 1 image">
        <img class="fighter-2" src="https://pbs.twimg.com/profile_images/1610186636125700102/ggTMNAh0_400x400.jpg" alt="fighter 1 image">
        <h2>{{ event[1] }}</h2>  <!-- Event Name -->
        <p>{{ event[2] }}</p>     <!-- Event Details -->
        <p>{{ event[3] }}</p>     <!-- Event Date/Location -->

        <!-- Fights Section -->
        <div class="fights-container">
            {% for fight in fight_dict[event[0]] %}
            <div class="fight-row">
                <div class="fight">
                    <p>{{ fight[0] }}</p>  <!-- Fighter 1 -->
                </div>
                <div class="fight">
                    <p>{{ fight[1] }}</p>  <!-- Fighter 2 -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>
</html>
