<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFC Event</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <script type="module" src="static/js/script.js"></script>
</head>
<body>
    <header>
        <h1>ITSTIME</h1>
    </header>

    {% for event in events %}
    <div class="event-container">

        <div class="event-information">
            <img class="fighter-1" src="static/images/goat.png" alt="image of fighter">
            <img class="fighter-2" src="static/images/goat.png" alt="image of fighter">
            <h2 class="event-name">{{ event[1] }}</h2>  
            <p class="event-date">{{ event[2] }}</p>     
            <p class="event-location">{{ event[3] }}</p>     
        </div>
        
        <div class="fights-container">
            {% for fight in fight_dict[event[0]] %}
            <div class="fight-row">
                <div class="fight">
                    <p>{{ fight[0] }}</p> 
                </div>
                <div class="fight">
                    <p>{{ fight[1] }}</p>  
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>
</html>
